@import '../variables.scss';

// Footer
.footer {
  background: $gray-800;
  color: $white;

  .container {
    padding: 3rem 1.5rem;
  }

  .footerContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  .footerBrand {
    margin-bottom: 2rem;

    @media (min-width: 768px) {
      width: 33.333%;
      margin-bottom: 0;
    }

    .footerLogo {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .footerLogoImage {
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 0.75rem;
      }

      .footerLogoText {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }

    .footerBrandDescription {
      color: $text-muted;
      line-height: 1.6;
    }
  }

  .footerLinks {
    display: flex;
    flex-direction: row;
    gap: 50px;

    // @media (min-width: 768px) {
      
    // }

    .footerColumn {
      .footerColumnTitle {
        font-weight: 600;
        font-size: 1.4rem;
        margin-bottom: 1rem;
      }

      .footerColumnList {
        list-style: none;
        padding: 0px;

        li {
          margin-bottom: 0.5rem;

          .footerLink {
            color: $text-muted;
            text-decoration: none;
            transition: color 0.3s ease;
            font-size: 1rem;
            &:hover {
              color: #60a5fa;
            }
          }
        }
      }
    }
  }

  .footerBottom {
    border-top: 1px solid #374151;
    margin-top: 2rem;
    padding-top: 1.5rem;
    text-align: center;

    .footerCopyright {
      color: $text-muted;
      font-size: 0.875rem;
    }
  }
}

// Responsive adjustments
@media (max-width: 767px) {
  .footerLinks {
    grid-template-columns: 1fr !important;
  }
}